.serviceCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
.serviceCard:hover {
  cursor: pointer;
}

.serviceCard:hover .serviceTitle {
  color: var(--accent);
}
.serviceImage {
  @media screen and (min-width: 768px) {
    align-self: flex-start;
    flex-direction: row;
  }
}

.serviceText {
  display: block;
}
.serviceTitle {
  font-size: 20px;
  font-weight: 800;
  transition: color var(--time-animation) var(--cubic-bezier);
}
.serviceDescription {
  padding: 15px;
  text-align: start;
}
