.header {
  display: block;
  border: 1px solid red;
  background-color: black;
  color: white;
}
.headerLogo {
  transform: rotate(90deg);
  transition: transform var(--time-animation) var(--cubic-bezier);
}
.headerLogo:hover {
  transform: rotate(0deg);
}
.navigation {
  display: flex;
  gap: 20px;
}
