.portfolioCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 15px;
  /* @media screen and (min-width: 768px) { */
  /* flex-direction: row; */
  /* } */
}
.portfolioCard:hover {
  cursor: pointer;
}

.portfolioCard:hover .portfolioTitle {
  color: var(--accent);
}

.portfolioImage {
  width: 100%;
}

.portfolioText {
  display: block;
}
.portfolioTitle {
  font-weight: 800;
  transition: color var(--time-animation) var(--cubic-bezier);
}
