.portfolioCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* @media screen and (min-width: 768px) { */
  /* flex-direction: row; */
  /* } */
}

.portfolioText {
  display: block;
}
.portfolioTitle {
  font-weight: 800;
}
