.contactsList {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.contactsIcon {
  margin-right: 10px;
}

.contactsItem {
  display: flex;
  align-items: center;
  transition: color var(--time-animation) var(--cubic-bezier);
}

.contactsItem:hover {
  color: var(--accent);
}
